.app{
  display: grid;
  place-items: center;
  background-color: #d0d8d3;
  height: 100vh;
 background-image: url(./files/P.jpg);
}
.app_body{
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: skyblue;
  box-shadow:-1px 4px 20px -6px rgba(0,0,0,0.2);
}